{% extends 'base-home.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <h1>Home Page</h1>
    <h2>Olá, {{ user.username }}! Você está logado.</h2>
    <h2>Bem vindo ao meu sistema de login feito em Django!</h2>
    <h2>Lista de Pessoas</h2>
    <ul>
        {% for pessoa in pessoas %}
            <li>
                {{ pessoa.id_pessoa }} |
                {{ pessoa.nome }} |
                {{ pessoa.email }} |
                {{ pessoa.data_nascimento|date:"d/m/Y" }} |
                <a href="{% url 'alterar_pessoa' pessoa.id_pessoa %}">Alterar</a> |
                <a href="{% url 'excluir_pessoa' pessoa.id_pessoa %}">Excluir</a><br>
                {{ pessoa.comentario }}
            </li>
        {% empty %}
            <li>Nenhuma pessoa cadastrada.</li>
        {% endfor %}
    </ul>
{% endblock %}